/* 
body{
    background-color: #73859d;
}
h1{
    text-align: center;
 }
 .nav-heading{
    color: #fff;
 }
 .navbar-ex{
background-color: #131921;
 }
 .card-ex{
    background-color: antiquewhite;
 }
  */